*{
   padding: 0;
   margin: 0;
   outline: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

:root {
  --base: #F9F9F9;
  --main: #1A9186;
  --cpp: #9c033a;
  --drupal: #0073BA;
  --alg: #00AD32;
  --rwd: #0f0f0f;
  --mysql: #00618a;
  --js: #f0db4f;
  --css: #3d8fc6;
  --html: #e54d26;
  --php: #6181b6;
  --github: #181616;
  --nodejs: #83CD29;
  --electron: #74b1be;
  --p5: #ed225d;
}

body{
   position: relative;
   background-color: var(--base);
   overflow-x: hidden;
   font-family: 'Lato', sans-serif;
}

header{
   position: relative;
   /*background-image: url("../img/img.jpg");
   background-size: cover;*/
   width:100%;
}

#home-header{
   height:58vh;
}

.home-down{
   height:42vh;
}
.sub-header{
   height:235px;
}

.cover{
   background-color:var(--main);
   /*opacity:0.6;*/
   width:100%;
   height:100%;
   position: absolute;
   top:0;
   left:0;
   z-index:1;
}

header img{
   object-fit: cover;
   width:100%;
   height:100%;
   position: absolute;
   top:0;
   left:0;
   z-index:0;
}

.container{
   font-weight:700;
   height:90%;
   position: absolute;
   z-index:2;
   color: var(--base);
   top:10%;
   left:5%;
   text-transform: uppercase;
}

#home-header .container h1{
   font-size:70px;
   display:inline;
}

.sub-header .container h2{
   font-size:60px;
   display:inline;
}

.sub-header .container{
   left: 3%;
}

.sub-header .container .btn-box .button{
   font-size:23px;
   padding: 15px 41px 15px 41px;
}


.container h2{
   margin-top:5px;
   font-size:20px;
}

.button{
   font-size:25px;
   font-weight:700;
   display:inline-block;
   padding: 17px 45px 17px 45px;
   color: var(--base);
   border: 4px solid var(--base);
   text-align: center;
   text-decoration: none;
   margin-right:5px;
   margin-bottom:5px;
   transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.btn-filled{
   background-color: var(--base);
   color: var(--main);
}
.btn-box{
   position: absolute;
   bottom:10%;
}

.button:hover{
   background-color: var(--base);
   color: var(--main);
}

.btn-filled:hover{
   background: 0;
   color: var(--base);
}

.home-down p:first-child{
   text-align: center;
   padding-top:75px;
   color:#222222;
   text-transform: uppercase;
   font-weight:700;
   font-size:35px;
}

.media{
   margin:auto;
   width:28%;
   padding-top:43px;
   display: flex;
   justify-content: center;
   font-size:40px;
}
.media a{
   display:inline;
   margin:auto;
   color:#222222;
   transition: color 0.18s ease-in-out;
   text-decoration: none;
}

.media a:hover{
   color: var(--main);
   cursor:pointer;
}

.sub #abt-main h3{
   text-align: center;
   font-size:45px;
   color: #222222;
   padding-top:40px;
   padding-bottom:40px;
   font-weight:400;
}

#desc{
   text-align: justify;
   font-size:20px;
   color: #222222;
   width:52%;
   margin: auto;
   line-height: 175%;
}

#skills{
   display: flex;
   flex-wrap: wrap;
   margin:auto;
   width:50%;
   padding: 20px;
}

.skill{
   text-transform: uppercase;
   font-weight: 700;
   font-size:28px;
   color: #222222;
   text-align: center;
   padding: 5px;
   margin:auto;
   margin-bottom:20px;
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.skill::before{
   font-family:vedico;
   padding-right:6px;
   font-weight:400;
   font-size:35px;
}
.skill span{
   font-family: 'Lato', sans-serif;
}

.tech::before{
   font-family:vedico;
   padding-right:2px;
   font-weight:400;
}

.tech span{
   font-family: 'Lato', sans-serif;
}

.project-down .techgrp .tech::before{
   font-size:25px;
   padding-right:3px;
}

.js::before{
   color:var(--js);
}

.php::before{
   color:var(--php);
}

.html::before{
   color:var(--html);
}
.css::before{
   color:var(--css);
}

.mysql::before{
   color:var(--mysql);
}

.nodejs::before{
   color: var(--nodejs);
}

.alg::before{
   color:var(--alg);
   font-family: "Font Awesome 5 Free";
   font-weight: 700;
   content:"\f121";
}

.drupal::before{
   color:var(--drupal);
}

.cpp::before{
   color:var(--cpp);
}

.electron::before{
   color:var(--electron);
}


.rwd::before{
   color:var(--rwd);
   font-family: "Font Awesome 5 Free";
   font-weight: 700;
   content:"\f3cd";
}


#tree{
   width:100%;
   margin-top:35px;
   padding-bottom:50px;
}

.event{
   margin:auto;
   width:80%;
   text-align: center;
}

.name{
   color: #222222;
   font-size:32px;
}
.techgrp{
   margin-top:5px;
   margin-bottom:13px;
   text-align: center;
}
.tech{
   /*font-size:23px;
   font-weight: 300;*/
   font-weight:700;
   font-size:17px;
   text-transform: uppercase;
   color: #2e2e2e;
   display:inline-block;
}

.event .techgrp .tech:not(:last-child)::after{
   font-family: 'Lato', sans-serif;
   content:' •';
   color: #2e2e2e;
}

.event:not(:last-child)::after{
   width:2px;
   height:80px;
   margin:auto;
   background-color: #3b3b3b;
   content:'';
   display:block;
}

.event:not(:first-child){
   margin-top:13px;
}

#projects-list {
   width: 75%;
   margin: 0px auto 100px auto;
   display: flex;
   flex-wrap: wrap;
}

.project{
   width:21%;
   margin: 100px auto 0px auto;
   background-color:white;
   box-shadow: 1px 1px 20px #999999;
}

.project-img img{
   object-fit: cover;
   width:100%;
   margin: auto;
}

.project-down{
   padding:13px;
}
.project-name{
   text-align: center;
   padding-bottom:15px;
   font-size:19px;
   color: #272727;
}

.project-desc{
   color:#636363;
   font-weight:400;
   font-size: 16px;
   text-align: center;
   padding-bottom:25px;
}

.project-btnbox{
   width:100%;
   display:flex;
}

.project-btnbox a{
   width:35%;
   border-radius:2px;
   margin:auto;
   display:flex;
   justify-content:center;
   align-items: center;
   border: 1px solid #272727;
   text-decoration: none;
   transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.project-btnbox a:hover{
   cursor:pointer;
}

.project-preview{
   background-color: var(--main);
   color: var(--base);
   font-size:16px;
   padding: 7px 0px 7px 0px;
}

.project-code{
   color:var(--github);
   font-size:27px;
   padding: 3px 0px 3px 0px;
}

.project-preview:hover{
   background-color: #146e65;
}
.project-code:hover{
   color: var(--base);
   background-color: var(--github);
}

.project-down .techgrp{
   margin-top:25px;
}


/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width:1650px){
   .project{
      width:24%;
   }
}
@media (max-width:1500px){
   .sub-header{
      height: 210px;
   }
   #projects-list{
      width:80%;
   }
}
@media (max-width:1250px){

   .sub-header{
      height: 190px;
   }

   .sub-header .container h2{
      font-size:54px;
   }
   .sub-header .container .btn-box .button{
      font-size:21px;
      padding:12px 35px 12px 35px;
   }
   .sub #abt-main h3{
      font-size:42px;
      padding-top:30px;
      padding-bottom:30px;
   }
   #desc{
      font-size:18px;
      line-height:160%;
      width:60%;
   }
   #skills{
      width:65%;
      padding:17px;
   }
   .skill{
      font-size: 26px;
   }
   .skill::before{
      font-size:33px;
   }

   .name{
      font-size:30px;
   }
   .media{
      width:36%;
      font-size:37px;
   }
   .project{
      width:35%;
   }
}
@media (max-width:815px){
   .project{
      width:40%;
   }
}

@media (max-width:780px){
   #home-header .container h1{
      font-size:65px;
   }
   .container h2{
      font-size:18px;
   }
   .button{
      font-size:22px;
      padding: 14px 39px 14px 39px;
   }
   .home-down p:first-child{
      padding-top:65px;
      font-size:33px;
   }

   .media{
      width:45%;
      font-size:34px;
   }
   .sub #abt-main h3{
      font-size:40px;
      padding-top:25px;
      padding-bottom:25px;
   }
   #desc{
      width:70%;
      font-size:17px;
      line-height:150%;
   }
   #skills{
      width:75%;
      padding:14px;
   }
   .skill{
      font-size:24px;
   }
   .skill::before{
      font-size:30px;
   }
   #projects-list{
      width:85%;
      margin:0px auto 70px auto;
   }
   .project{
      margin: 70px auto 0px auto;
   }
}
@media (max-width:780px){
      .skill{
         width:45%;
      }
}

@media (max-width:660px){
   .project{
      width:45%;
   }
}

@media (max-width:540px){
   .project{
      width:55%;
   }
   #home-header{
      height: 63vh;
   }
   .home-down{
      height: 37vh;
   }
}

@media (max-width:485px){
   #home-header .container h1{
      font-size:63px;
   }
   .container h2{
      font-size:17px;
   }
   .button{
      font-size:22px;
      padding: 12px 34px 12px 34px;
   }
   .home-down p:first-child{
      padding-top:55px;
      font-size:28px;
   }
   .media{
      width:65%;
      font-size:30px;
   }
   .sub-header{
      height: 160px;
   }
   .sub-header .container h2{
      font-size:47px;
   }
   .sub-header .container .btn-box .button{
      font-size:19px;
      padding:10px 30px 10px 30px;
   }
   .sub #abt-main h3{
      font-size:38px;
      padding-top:18px;
      padding-bottom:18px;
   }
   #desc{
      width:75%;
      font-size:15px;
      line-height:135%;
   }
   #skills{
      width:95%;
      padding:7px;
   }
   .skill{
      font-size:17px;
   }
   .skill::before{
      font-size:25px;
   }
   .name{
      font-size:25px;
   }
   .event:not(:last-child)::after{
      height:60px;
   }
   #projects-list{
      width:90%;
   }
   .project{
      width:65%;
   }
}

@media (max-width:380px){
   .project{
      width:75%;
   }
   .skill{
      width:40%;
   }
   .name{
      font-size:24px;
   }
   .tech{
      font-size:16px;
   }
   #desc{
      font-size:14px;
   }
   .sub #abt-main h3{
      font-size:32px;
      padding-top:13px;
      padding-bottom:13px;
   }
}

@media (max-width:330px){
   .project{
      width:85%;
   }
   #home-header .container h1{
      font-size:57px;
   }
   .container h2{
      font-size:15px;
   }
   .button{
      font-size:20px;
      padding: 10px 29px 10px 29px;
   }
   .home-down p:first-child{
      font-size:27px;
   }
   .media{
      width:85%;
      font-size:27px;
   }
}
