* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg-dark: #121212;
  --primary-dark: #2DEBD1;
  --secondary-dark: #E6E6E6;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  background-color: var(--bg-dark);
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
}

a {
  text-decoration: none;
}

.h1_break::after, .h2_break::after, .footer_break::after {
  content: "\a";
  white-space: pre;
}

#main {
  padding: 10px 10px 0px 20px;
  position: relative;
  min-height: 100vh;
  height: min-content;
  width: auto;
}

#theme_change {
  color: var(--primary-dark);
  font-size: 45px;
  position: absolute;
  top: 10px;
  right: 15px;
  transition: opacity .3s ease-in-out;
}

#main>#theme_change:hover {
  cursor: pointer;
  opacity: 0.7;
}

#main>h1 {
  color: var(--primary-dark);
  font-size: 70px;
  margin-bottom: 15px;
}

#main>h2 {
  color: var(--secondary-dark);
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 20px;
}

#resume {
  background-color: var(--primary-dark);
  opacity: 0.9;
  color: var(--bg-dark);
  font-weight: 600;
  font-size: 24px;
  border-radius: 6px;
  text-align: center;
  display: block;
  width: 180px;
  height: 46px;
  line-height: 46px;
}

#resume:hover {
  opacity: 0.7;
  transition: opacity .3s ease-in-out;
}

#contactme {
  color: var(--primary-dark);
  font-weight: 600;
  font-size: 33px;
  margin-top: 40px;
}

#icons {
  padding: 10px;
  font-size: 50px;
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 60px 60px;
  gap: 7px 7px;
}

#icons>a {
  color: var(--secondary-dark);
  transition: color .3s ease-in-out;
}

#icons>a:hover {
  color: var(--primary-dark);
}

#aboutme {
  padding: 10px 10px 15px 20px;
  color: var(--secondary-dark);
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "WhoAmI""Skills""Achievements";
  gap: 12px 1px;
}

#whoami_section {
  grid-area: WhoAmI;
}

#skills_section {
  grid-area: Skills;
}

#achievements_section {
  grid-area: Achievements;
}

.header {
  color: var(--primary-dark);
  font-size: 40px;
  margin-bottom: 10px;
}

#aboutme>h3:not(:first-child) {
  margin-top: 15px;
}

#desc {
  padding: 10px;
  line-height: 28px;
  font-size: 20px;
  font-weight: 600;
}

#skills {
  padding: 10px;
  font-size: 19px;
  font-weight: 600;
}

.skill_group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skill_group:not(:first-child) {
  margin-top: 10px;
}

.skill_group>.skill {
  border-radius: 20px;
  background-color: #343434;
  padding: 7px 14px 7px 14px;
  text-align: center;
  white-space: nowrap;
}

.skill_group>.skill:not(:first-child) {
  margin-left: 10px;
}

#achievements {
  padding: 10px;
  font-size: 23px;
  font-weight: 600;
}

.achievement {
  background-color: #343434;
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0px 0px 2px rgba(132, 132, 132, 0.56);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  height: 95px;
}

.achievement>h2 {
  font-size: 21px;
}

.achievement>h3 {
  font-size: 19px;
  font-weight: 400;
  opacity: 0.75;
}

.achievement>h4 {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.55;
}

.achievement:not(:first-child) {
  margin-top: 12px;
}

#projects {
  padding: 10px 10px 15px 20px;
  color: var(--secondary-dark);
  width: auto;
  height: auto;
  margin-bottom: 75px;
}

#projects>h3:not(:first-child) {
  margin-top: 15px;
}

#projects_list {
  padding: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 20px;
}

#projects_list::-webkit-scrollbar {
  display: none;
}

.project {
  background-color: #343434;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 180px auto;
  grid-template-areas: "Image""DataBox";
  width: 275px;
  height: 480px;
  position: relative;
  box-shadow: 0px 0px 2px rgba(132, 132, 132, 0.56);
  margin-right: 20px;
}

.project>img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 180px;
  width: 275px;
  grid-area: Image;
}

#projects_list>.project>.data_box {
  padding: 20px;
  color: var(--secondary-dark);
  grid-area: DataBox;
}

.data_box>h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.data_box>h3 {
  font-size: 20px;
  opacity: 0.75;
  margin-bottom: 10px;
  font-weight: 400;
}

.data_box>h4 {
  font-size: 19px;
  opacity: 0.55;
  font-weight: 400;
}

.preview_box {
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview_box>a {
  color: #FFFFFF;
  opacity: 0.7;
  font-size: 45px;
  transition: opacity .3s ease-in-out;
}

.preview_box>a:hover {
  opacity: 0.4;
}

.preview_box>a:first-child {
  font-weight: 600;
  font-size: 25px;
  margin-right: 15px;
}

#scroll {
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 15px;
  background: #505050;
  outline: none;
  -webkit-transition: .2s;
}

#scroll::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--primary-dark);
  cursor: pointer;
}

#scroll::-moz-range-thumb {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--primary-dark);
  cursor: pointer;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: var(--primary-dark);
  color: var(--bg-dark);
  width: 100%;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

footer>#icons_row {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer>#icons_row>a {
  margin: auto;
  color: var(--bg-dark);
  font-size: 40px;
}

footer>#copyright {
  margin-top: 5px;
  font-weight: 600;
  font-size: 22px;
  text-align: right;
}

@media (min-width:600px) {
  .h1_break::after {
    content: "";
  }

  #contact_box {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  #contactme {
    text-align: right;
    padding-right: 20px;
  }

  #icons {
    grid-template-columns: 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 60px;
  }
}

@media (min-width:700px) {
  .h2_break::after {
    content: "|";
  }

  #main>h2 {
    font-size: 23px;
    margin-bottom: 30px;
  }
}

@media (min-width:800px) {
  #theme_change {
    font-size: 47px;
  }

  #main>h1 {
    font-size: 80px;
  }

  #main>h2 {
    font-size: 25px;
  }

  #resume {
    font-size: 27px;
    width: 203px;
    height: 52px;
    line-height: 52px;
  }

  #icons {
    font-size: 52px;
  }

  #contactme {
    font-size: 35px;
  }

  .header {
    font-size: 42px;
  }

  #desc {
    font-size: 22px;
  }

  .achievement {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: ". Skills"". Skills";
  }

  .achievement>h2 {
    font-size: 23px;
    align-self: center;
  }

  .achievement>h3 {
    font-size: 20px;
    align-self: center;
  }

  .achievement>h4 {
    font-size: 19px;
    grid-area: Skills;
    align-self: center;
    justify-self: flex-end;
  }

  footer {
    flex-direction: row;
    align-items: center;
  }

  footer>#icons_row {
    width: 55%;
    margin: 0 auto 0 0;
  }
}

@media (min-width:900px) {
  #theme_change {
    font-size: 49px;
  }

  #main>h1 {
    font-size: 90px;
  }

  #main>h2 {
    font-size: 27px;
  }

  #resume {
    width: 210px;
    height: 54px;
    line-height: 54px;
  }

  #icons {
    font-size: 54px;
  }

  #contactme {
    font-size: 37px;
  }

  .header {
    font-size: 44px;
  }

  #desc {
    font-size: 24px;
  }

  #scroll {
    visibility: hidden;
    /* depending on the number of projects */
  }

  footer>#icons_row {
    width: 40%;
  }
}

@media (min-width:1000px) {
  #theme_change {
    font-size: 51px;
  }

  #main {
    padding: 15px 15px 0px 30px;
  }

  #main>h1 {
    font-size: 100px;
  }

  #main>h2 {
    font-size: 30px;
  }

  #aboutme {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "WhoAmI WhoAmI""Achievements Skills";
    gap: 25px 10px;
  }

  #skills_section {
    justify-self: end;
    padding-right: 30px;
  }

  .achievement>h2 {
    font-size: 21px;
  }

  .achievement>h3 {
    font-size: 19px;
  }

  .achievement>h4 {
    font-size: 18px;
  }

  .footer_break::after {
    content: "";
  }
}

@media (min-width:1100px) {
  #main>h1 {
    font-size: 110px;
  }

  #main>h2 {
    font-size: 33px;
  }

  #contactme {
    font-size: 39px;
  }

  #icons {
    font-size: 56px;
    gap: 7px 12px;
  }

  #aboutme {
    grid-template-columns: 55% 45%;
    gap: 35px 10px;
  }

  #skills_section {
    padding-right: 45px;
  }
}

@media (min-width: 1200px) {
  footer>#icons_row {
    width: 35%;
  }
}
