*{
   padding: 0;
   margin: 0;
   outline: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}
body{
   position: relative;
   background-color: #EBEBEB;
   overflow-x: hidden;
   font-family: 'Lato', sans-serif;
   min-height: 105vh;
   height:100%;
}
h1{
   font-size:105px;
   font-weight: 500;
   color:#414141;
}

h4{
   padding-top: 10px;
   font-size:23px;
   font-weight: 500;
   color: #515151;
}

#home{
   min-height:100vh !important;
   height:100vh !important;
   width:100%;
   display:flex;
   justify-content: center;
   align-items: center;
}
#home div{
   text-align: center;
}
nav{
   padding-top:30px;
   text-align: center;
}
#home nav{
   padding-top:50px;
}
nav a {
   color: #606060;
   text-decoration: none;
   font-size: 25px;
   text-align: center;
}
nav a:not(:last-child)::after{
   content:' •';
   color: #606060 !important;
   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.00) !important;
}
nav a:first-child,
nav a:last-child{
   position: relative;
}

nav a:first-child::before,
nav a:last-child::after{
   position: absolute;
   content:'';
   display: block;
   height:2px;
   width:70px;
   background-color: #707070;
   top:50%;
}

nav a:last-child::after{
   right:-80px;
}

nav a:first-child::before{
   left:-80px;
}

nav a:hover{
   cursor:pointer;
   color:#444;
   transition-duration:  0.35s;
   text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
}
.curr{
   color:#444;
   text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
}
/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/
h2{
   padding-top:30px;
   text-align: center;
   font-size: 55px;
   font-weight: 500;
   color: #414141;
}

h3{
   padding-top:30px;
   text-align: center;
   font-size: 45px;
   font-weight: 500;
   color: #414141;
}

#avatar {
   border-radius: 50%;
   width: 250px;
   margin: auto;
   display:block;
   margin-top:60px;
}

.h1dark{
   margin-top:35px;
   color: #EBEBEB;
   font-size:50px;
   text-align: center;
}
.h1dark span{
      padding:5px 15px 5px 15px;
      background-color: #414141;
}
#aboutme{
   padding-top:35px;
   width:50%;
   text-align: center;
   font-size:23px;
   margin:auto;
   color:#515151;
}

#skills{
   display: flex;
   flex-wrap: wrap;
   margin:auto;
   width:50%;
   padding: 20px;
}

.skill{
   /*background-color: #414141;*/
   font-weight: 300;
   font-size:35px;
   /*color: #EBEBEB;*/
   color: #414141;
   text-align: center;
   padding: 5px;
   margin:auto;
   margin-bottom:20px;
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-shadow: 2px 2px 4px rgba(90,90,90,0.25);
}

#tree{
   width:100%;
   margin-top:35px;
   padding-bottom:50px;
}

.event{
   margin:auto;
   width:80%;
   text-align: center;
}

.name{
   color: #515151;
   font-size:32px;
}
.techgrp{
   margin-top:5px;
   margin-bottom:13px;
}
.tech{
   font-size:23px;
   font-weight: 300;
   color: #787878;
}

.tech:not(:last-child)::after{
   content:' •';
   color: #787878;
}

.event:not(:last-child)::after{
   width:2px;
   height:80px;
   margin:auto;
   background-color: #707070;
   content:'';
   display:block;
}

.event:not(:first-child){
   margin-top:13px;
}

footer{
   bottom:0;
   position: absolute;
   background-color: #414141;
   text-align: center;
   width:100%;
   padding: 5px 0px 5px 0px;
   color: #EBEBEB;
   font-weight: 300;
   font-size:20px;
}

/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/
#prj-list{
   width:80%;
   margin:auto;
   display:flex;
   flex-wrap:wrap;
   padding-top:4vh;
   padding-bottom:30px;
}

.prj-el{
   padding-top:4vh;
   width: calc(100%/3);
   margin:auto;
   padding-bottom:40px;
}
.prj-img{
   margin: auto;
   width:65%;
}
.prj-img img{
   border: 1px solid #707070;
   object-fit: cover;
   width:100%;
   height: 170px;
   margin: auto;
}
.prj-title{
   padding-top:5px;
   text-align: center;
   font-size: 28px;
   font-weight: 500;
   color: #515151;
}
.prj-tech{
   margin:auto;
   width:70%;
   text-align: center;
}
.prj-tech .tech{
   font-size:18px;
   color:#606060;
}
.prj-desc{
   padding-top:5px;
   text-align: center;
   color: #515151;
   width:60%;
   margin:auto;
   height:30%;
}
.prj-btn{
   padding-top:20px;
   display:block;
   margin:auto;
   text-align: center;
   text-decoration: none;
   color:#EBEBEB;
   font-size:20px;
   font-weight:500;
}
.prj-btn span{
   background-color: #515151;
   padding:7px 10px 7px 10px;
}
/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
*/
#con-list{
   width:100%;
   height: 50%;
   display:flex;
   justify-content: center;
   align-items: center;
}
#con-box{
   padding-top:8vh;
   width:auto;
   margin:auto;
   height:auto;
}
.con-el{
   padding-top:1vh;
   font-size:30px;
   color: #414141;
}

.con-val h2{
   padding: 5px 8px 5px 8px;
   background-color: #515151;
   color:#EBEBEB;
   display:inline-block;
   font-size:30px;
   padding-top: 0px;
}
.con-icon i{
   font-size:32px;
}

/*-----------------------------------*/
.skill::before{
   font-family:devicon;
   padding-right:6px;
}

.skill:nth-child(1)::before{
   color:#f0db4f;
   content:"\e845";
}

.skill:nth-child(2)::before{
   color:#6181b6;
   content:"\eb71";
}

.skill:nth-child(3)::before{
   color:#e54d26;
   content:"\e7f7";
}
.skill:nth-child(4)::before{
   color:#3d8fc6;
   content:"\e679";
}

.skill:nth-child(9)::before{
   color:#0f0f0f;
   font-family: "Font Awesome 5 Free";
   font-weight: 700;
   content:"\f3cd";
}

.skill:nth-child(6)::before{
   color:#00AD32;
   font-family: "Font Awesome 5 Free";
   font-weight: 700;
   content:"\f121";
}

.skill:nth-child(7)::before{
   color:#0073BA;
   content:"\e6e3";
}

.skill:nth-child(8)::before{
   color:#9c033a;
   content:"\e635";
}

.skill:nth-child(5)::before{
   color:#00618a;
   content:"\eb61";
}
